
<% if !flash[:notice].blank? %>
<div class="notice">
  <%=flash[:notice] %>
</div>
<% end %>


<h1> List of Songs </h1>
<% @songs.each do |song| %>
<p><%= song.song_name %></p>
<% end %>



<%= link_to "Add New Song", new_song_path %> (:artist_id => Artist.find.params[:id])


<!-- link_to song.song_name, songs_path(song.id) -->
