<% @song_title = "New song" %>

 <%= link_to "<< Back to List", songs_path(:artist_id => @artist.id), :class => 'back-link' %>

 <div class="songs new">
   <h2>Create song</h2>

<%= form_for(@song, :url => songs_path(:artist_id => @artist.id)) do |f| %>

     <%= render(:partial => 'form', :locals => {:f => f}) %>

     <div class="form-buttons">
       <%= f.submit("Create song") %>
     </div>

   <% end %>
 </div>
