

<%= link_to("<< Back to List", songs_path(:artist_id => @artist.id), :class => 'back-link') %>

<div class="Songs show">
  <h2>Show song</h2>

  <table summary="Song detail view">
    <tr>
      <th>Song Name</th>
      <td><%= @song.song_name %></td>
    </tr>
    <tr>
      <th>Song Genre</th>
      <td><%= @song.genre %></td>
    </tr>
  </table>

</div>
